@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #252525
}

.banner-notification {
    text-align: center;
    padding: 5px;
    background-color: #151515;
    width: 100%;
}

.banner-critical {
    position: fixed;
    background-color: #ff5500;
}

.header {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

.header a, .header b {
    color: white;
    text-decoration: none;
}

.header .pages {
    float: right;
    padding: 5px;
}

.header .pages a, .header .pages b {
    background-color: transparent;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.header .pages a:hover, .header .pages b:hover {
    background-color: #202020;
}

.content {
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.step {
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.step p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.step .title-with-right-element {
    white-space: nowrap;
}

.step .title-with-right-element p {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: calc(100% - 110px);
}

.step .right-element {
    float: right;
    display: block
}

.text-input {
    background-color: #151515;
    color: white;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    height: 30px;
}

.text-input:focus {
    outline: 0;
}

#word-input {
    width: 250px;
}

#regex-output {
    background-color: #151515;
    padding: 5px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    height: fit-content;
    min-height: 30px;
    line-height: 20px !important;
    margin: 0 2px;
    box-sizing: border-box;
    display: inline-block;
}

#copy-regex {
    background-color: #151515;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 1px;
    border: none;
    cursor: pointer;
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 2px;
}

.regex-results {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
}

.regex-results .regex-output {
    margin-bottom: 20px;
}

#reset-settings {
    background-color: #151515;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 30px;
}

.warning-description {
    color: #f38688;
}

.grid-row {
    margin-top: 15px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    width: 100%;
    text-align: left;
    margin-bottom: -20px;
}

.grid-item {
    flex-wrap: wrap;
    flex-basis: 33%;
    padding-bottom: 25px;
}

.grid-item input {
    accent-color: #5865F2;
}

.grid-item p {
    font-size: 12px;
    color: lightgrey;
    margin: 0;
    padding-right: 20px;
}

.error-box {
    color: #f38688;
    font-size: 12px;
    margin-bottom: 15px;
}

.footer {
    background-color: #151515;
    padding: 40px;
}

.footer p {
    font-size: 12px;
    color: lightgrey;
    margin: 0;
}

.footer .footer-left p {
    margin-top: 10px;
}

.footer .footer-left {
    display: inline-block;
    width: 50%;
}

.footer .footer-right {
    float: right;
    width: 50%;
    text-align: right;
}

.link {
    color: #05a4e4;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.spam-type {
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
}

.spam-name {
    text-align: left;
    float: left;
}

.spam-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-flow: dense;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}

.spam-type {
    min-width: 300px;
}

.grid-row p {
    font-size: 12px;
    color: lightgrey;
    margin: 0;
    padding-right: 20px;
}

.grid-row .setting {
    padding-top: 10px;
    font-size: 14px;
}

.grid-row .setting input {
    margin-right: 5px;
    accent-color: #5865F2;
}

.copy-regex-title {
    padding-top: 10px;
}

.grid-row .setting .title-with-setting {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

.grid-row .setting .setting-below-title {
    display: flex;
    align-items: center;
}

.grid-row .setting .setting-below-title a {
    width: 15px;
}

.regex-output {
    color: white;
    background-color: #151515;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    word-break: break-all;
    border-radius: 10px;
    margin: 0 2px;
}

.copy-regex {
    background-color: #151515;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 1px;
    border: none;
    cursor: pointer;
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 2px;
}

@media (pointer:coarse) {
    .header {
        padding: 15px;
        padding-bottom: 0px;
    }

    .content {
        padding: 15px;
        padding-top: 0px
    }
    
    .grid-item {
        flex-wrap: wrap;
        flex-basis: 50%;
        padding-bottom: 25px;
    }

    .spam-type .grid-item {
        width: 100%
    }
};