@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #5865F2;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0px;
}

.header {
    background-color: #202225;
    padding: 20px;
    font-size: 20px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header .pages {
    float: right;
    display: inline;
    padding: 5px;
    padding-right: 20px;
}

.header .pages a {
    font-size: 14px;
    background-color: #2a2a2a00;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.header .pages a:hover {
    background-color: #2a2a2aff;
}

.content {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    min-height: calc(100% - 140px);
    background-color: #2f3136;
    text-align: center;
    width: calc(100% - 60px);
}

.link {
    color: #05a4e4;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.text-input {
    background-color: #202225;
    color: white;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    height: 25px;
}

.content #regex-output {
    background-color: #202225;
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
}

.content .grid-row {
    margin-top: 15px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    width: 100%;
    text-align: left;
    margin-bottom: -10px;
}

.content .grid-item {
    flex-wrap: wrap;
    flex-basis: 33%;
    padding-bottom: 25px;
}

.content .grid-item input {
    accent-color: #5865F2;
}

.content .grid-item p {
    font-size: 12px;
    color: lightgrey;
    margin: 0;
}

#warning-description {
    color: #f38688;
}

.error-box {
    background-color: #f3868841;
    margin: 10px;
    border-radius: 10px;
    border-color: #f38688;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
}

.spam-type {
    background-color: #2a2a2a;
    padding: 20px;
    padding-bottom: 0px;
    margin: 20px;
    border-radius: 10px;
}

.spam-name {
    text-align: left;
    float: left;
}

.spam-type .grid-item {
    flex-wrap: wrap;
    flex-basis: 50%;
    width: 50%;
    padding-top: 5px;
}

.grid-item-right {
    text-align: center;
}

.grid-item .setting {
    padding-top: 10px;
    font-size: 14px;
}

.spam-type .grid-item .regex-output {
    color: white;
    background-color: #202225;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
}

#emoji-range-value {
    max-width: 15px;
    min-width: 15px;
    display: inline-block;
}

.spam-type .grid-item input[type=number] {
    background-color: #202225;
    color: white;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    height: 25px;
    width: 85px;
}

.grid-item .setting input[type=checkbox] {
    height: 10px;
    width: 10px;
}

@media (pointer:coarse) {
    .content {
        margin: 20px;
        padding: 50px;
        width: calc(100% - 140px);
    }

    .header a {
        font-size: 14px;
    }
    
    .header .pages {
        float: right;
        display: inline;
        padding: 5px;
        padding-right: 20px;
    }
    
    .header .pages a {
        font-size: 30px;
        background-color: #2a2a2a00;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 8px;
    }
    
    .text-input {
        background-color: #202225;
        color: white;
        padding: 10px;
        font-size: 40px;
        border-style: none;
        border-radius: 10px;
        width: 60%;
        height: 80px;
    }

    .content .grid-row {
        padding-top: 40px;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 33%;
        width: 100%;
        text-align: left;
    }
    
    .content .grid-item {
        flex-wrap: wrap;
        flex-basis: 50%;
        padding-bottom: 30px;
        font-size: 40px;
    }
    
    .content .grid-item input {
        accent-color: #5865F2;
        width: 32px;
        height: 32px;
    }
        
    .content .grid-item p {
        font-size: 15px;
    }

    .content #regex-output {
        font-size: 24px;
    }

    .spam-type {
        padding: 50px;
        padding-bottom: 0px;
        margin: 0px;
        border-radius: 10px;
        width: calc(100% - 100px);
    }

    .content .grid-item p {
        font-size: 30px
    }

    .grid-item .setting {
        padding-top: 10px;
        font-size: 40px;
    }

    .grid-item .setting p {
        padding-top: 10px;
        font-size: 30px;
    }
    
    .spam-name {
        font-size: 40px;
        margin-bottom: -30px;
    }

    .spam-type .grid-item {
        flex-wrap: nowrap;
        flex-basis: none;
        flex: none;
        width: 100%;
        padding-top: 5px;
    }

    #emoji-range-value {
        width: 100px;
        /* display: inline-block; */
    }
    
    .spam-type .grid-item input[type=number] {
        background-color: #202225;
        color: white;
        padding: 10px;
        border-style: none;
        border-radius: 10px;
        height: 50px;
        width: 200px;
        font-size: 30px;
    }
    
    .grid-item .setting input[type=checkbox] {
        height: 32px;
        width: 32px;
    }
}